<div class="col-12 card">
  <h4> {{user.nick}} </h4>
  <div class="card-body">
    <app-tchat-message
      *ngFor="let message of messages"
      [data]="message"
      (remove)="delete($event)">
  </app-tchat-message>

      <div class="card-text">
        <input type="text"> <button class="ml-5 btn-outline btn-success">send</button>

      </div>
  </div>

</div>
