<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="col-12 pb-5">
        <input [(ngModel)]="m.title" type="text" name="title" class="form-control" id="title">
      </div>
      <div class="col-12 mt-4">
        <textarea [(ngModel)]="m.content" name="content" id="content"class="form-control" cols="20" rows="8"></textarea>
      </div>
      <div class="row">
        <div class="col-10">
          <button (click)="addNewMessage()" type="button" class="btn btn-success btn-lg">envoyer</button>
        </div>
      </div>
    </div>
  </div>
</div>
