
<div>
  <h6> {{ message.author.nick }} </h6>
  <p> {{ message.content }} <br> <span> {{message.datetime}} </span> </p>
  <span class="btn btn-error" (click)="delete()">X</span> <span class="btn btn-warning" (click)="edit()">!</span>
  <hr>
</div>
