<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Header</h2>
    </div>
  </div>
  <div class="row min-vh-100">
    <div class="col-2 sidebar">
      <h2>sidebar</h2>
      <ul class="menu">
        <li><a [routerLink]="['/tchat']" routerLinkActive="active">tchat</a></li>
        <li><a [routerLink]="['/count']" routerLinkActive="active">count</a></li>
        <li><a [routerLink]="['/writting']" routerLinkActive="active">writing</a></li>
      </ul>
    </div>
    <div class="col-10">
      <h2>content</h2>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row fixed-bottom footer">
    <div class="col">
      <h2>Footer</h2>
    </div>
  </div>
</div>
