.footer {
  background-color: whitesmoke;
  box-shadow: -2px -4px 20px rgba(0,0,0,0.2);
}

.sidebar{
  position: relative;
  border-right: 1px solid rgba(0,0,0,0.2);
  background-color: whitesmoke;
}

.sidebar::after{
  position: absolute;
  z-index: -100;
  content: "";
  width: 20%;
  height: 110%;
  right: 0;
  top: 2%;
  box-shadow: 10px 2px 20px rgba(0,0,0,0.4);
}

ul.menu {
  position: relative;
  width: 100%;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

ul.menu > li {
  border-bottom: 1px solid rgba(0,0,0,0.4);
  padding: 1.2em 0;
  text-align: right;

}

ul.menu > li > a {
  width: 100%;
  line-height: 1.2em;
}
